@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name</h1>
        @if (true) {
            MainLayout.AsignarUsuario(context.User.Identity.Name);
        }
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Stranger</h1>
        @if (true) {
            MainLayout.AsignarUsuario(null);
        }
    </NotAuthorized>
</AuthorizeView>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
