<style>
    .form-field {
        display: flex;
        margin: 0.5rem;
    }

        .form-field > label {
            width: 8rem;
        }

        .form-field > div {
            flex-grow: 1;
        }

        .form-field input {
            width: 100%;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .form-field .invalid{
            border-color: red;
        }
</style>

<div class="form-field">
    <label class="col-form-label-sm">Nombres: </label>
    <div>
        <InputText @bind-Value="Cliente.Nombres"/><br/>
        <ValidationMessage For="()=>Cliente.Nombres"/>
    </div>
    
</div>
<div class="form-field">
    <label class="col-form-label-sm">Apellidos: </label>
    <div>
        <InputText class="form-control-sm" @bind-Value="Cliente.Apellidos"/><br/>
        <ValidationMessage For="()=>Cliente.Apellidos"/>
    </div>
</div>
<div class="form-field">
    <label class="col-form-label-sm">Direcci&oacute;n: </label>
    <div>
        <InputText class="form-control-sm" @bind-Value="Cliente.Direccion" /><br />
        <ValidationMessage For="()=>Cliente.Direccion" />
    </div>
</div>
<div class="form-field">
    <label class="col-form-label-sm">Email: </label>
    <div>
        <InputText class="form-control-sm" @bind-Value="Cliente.Email" /><br />
        <ValidationMessage For="()=>Cliente.Email" />
    </div>
</div>
<div class="form-field">
    <label class="col-form-label-sm">Tel&eacute;fono: </label>
    <div>
        <InputText class="form-control-sm" @bind-Value="Cliente.Telefono" /><br />
        <ValidationMessage For="()=>Cliente.Telefono" />
    </div>
</div>


@code {
    [Parameter] public Cliente Cliente { get; set; }
}