<style>
    .form-field {
        display: flex;
        margin: 0.5rem;
    }

        .form-field > label {
            width: 8rem;
        }

        .form-field > div {
            flex-grow: 1;
        }

        .form-field input {
            width: 100%;
        }
</style>

<div class="form-field">
    <label class="col-form-label">Nombres: </label>
    <div>
        <InputText class="form-control" @bind-Value="Cliente.Nombres"/><br/>
        <ValidationMessage For="()=>Cliente.Nombres"/>
    </div>
    
</div>
<div class="form-field">
    <label class="col-form-label">Semestre: </label>
    <div>
        <InputText class="form-control" @bind-Value="Cliente.Apellidos"/><br/>
        <ValidationMessage For="()=>Cliente.Apellidos"/>
    </div>
</div>

@code {
    [Parameter] public Cliente Cliente { get; set; }
}