@inject AppState AppState 
<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-info" href="Identity/Account/Manage">Mi perfil<i class="oi oi-person ml-2"></i></a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="btn btn-outline-danger m-3">Cerrar sesión<i class="oi oi-account-logout ml-2"></i></button>
        </form>
        @{
            AppState.ClaimsPrincipal = context.User;
            MainLayout.NombreUsuario = AppState.ClaimsPrincipal.Identity.Name;
        }
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-info" href="Identity/Account/Register">Registrarse</a>
        <a class="btn btn-outline-info m-3" href="Identity/Account/Login">Log in<i class="oi oi-account-login ml-2"></i></a>
        @{
            AppState.ClaimsPrincipal = null;
            MainLayout.NombreUsuario = null;
        }
    </NotAuthorized>
</AuthorizeView>
